<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="container">
  <div id="section">
    <h2 class="text-primary" style="font-size:50px">About us</h2>
    <p>
      I am a student of Computer Science from KBTU.
      I am passionate about programming, web development, and technology.
      I enjoy seeing how ideas and projects come alive when combining software and real-world applications.
      I have previously participated in student clubs and events, where I gained experience in teamwork and project organization.
      Currently, I am focusing on web development projects, improving my skills in Angular.
    </p>
  </div>
  <div id="footer">
    <h1>you can find me here</h1>

  <div id="nav">
    <div class="row">
      <div class="col-xs-2">
        <a>
          <button class="btn btn-block btn-primary">Mail</button>
        </a>
      </div>
      <div class="col-xs-2">
        <a>
          <button class="btn btn-block btn-primary">Telegram</button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href = 'https://github.com/bissembayevd' target="_blank">
          <button class="btn btn-block btn-primary">GitHub</button>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
